.DS_Store
node_modules/
dist/
npm-debug*
test/unit/coverage
mockup

.idea
.vscode
.sonar
sonar_test
yarn-error.log

cache/*.js
cache/*.json
cache/*.info
static/js/dep*.js
.cache
document/_site
module.config.json

playground
